# Backend (Laravel)
backend/vendor
backend/node_modules
backend/.env
backend/.env.backup
backend/.env.production
backend/.phpunit.result.cache
backend/.phpunit.cache
backend/auth.json
backend/public/build
backend/public/css/filament
backend/public/fonts-manifest.dev.json
backend/public/fonts/filament
backend/public/hot
backend/public/js/filament
backend/public/storage
backend/storage/*.key
backend/storage/pail
backend/storage/logs
backend/_ide_helper.php
backend/Homestead.json
backend/Homestead.yaml

# Frontend (Vite/React)
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/.env

# Editors / OS
.idea
.vscode/*
!.vscode/extensions.json
.DS_Store
*.log
Thumbs.db
